*{
    font-family: 'Noto Sans JP', sans-serif;;
}
body{
    margin: 0 auto;
    padding: 0 auto;
}
header{
    width: 100%;
    height: 100vh;
    background: url(main.jpg) fixed no-repeat;
    background-size: cover;
    z-index: 1;
}
.overlay{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px);
    animation: a 10s infinite;
}
.made-with-love{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.made-with-love h1{
    letter-spacing: 3px;
    color: white;
    font-size: calc(15px + 1vw);
    animation: fadeInDown .6s .5s ease both;
}
#Capa_1{
    animation: fadeInDown 1s .5s ease both;
}
.developer{
    z-index: 2;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.developer h1{
    position: absolute;
    z-index: 2;
    color: white;
    font-size: calc(30px + 6vw);
    font-weight: bolder;
    animation: fadeInUp 1s .5s ease both;
    letter-spacing: 5px;
}
.header-container{
    width: 100%;
    justify-content: center;
    position: absolute;
    display: flex;
    flex-direction: column;
}

@keyframes a {
    0%   {background-color: rgba(255, 0, 0, 0.3);}
    25%  {background-color: rgba(0, 0, 255, 0.3);}
    50%  {background-color: rgba(0, 128, 0, 0.3);}
    75% {background-color: rgba(71, 13, 233, 0.3);}
    100% {background-color: rgba(255, 0, 0, 0.3);}
  }

@keyframes fadeInUp {
      0% {
          top: 40%;
        opacity:0;
      }
      100% {
          top: 30%;
        opacity:1;
      }
}

@keyframes fadeInDown {
    0% {
      opacity:0;
      top:20%;
    }
    100% {
      opacity:1;
      top:30%;
    }
}
.main{
    margin-top: 0px;
    width: 100%;
    min-height: 1000px;
    z-index: 10;
    box-shadow: 0 -6px 8px -4px rgba(0, 0, 0, 0.4), 0 -6px 20px -4px rgba(0, 0, 0, 0.35);
    background-color: white;
}

.main-title{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.main-title p{
    letter-spacing: 4px;
    font-size: 60px;
    font-weight: 1000;
    animation: b 10s infinite;
}
@keyframes b {
    0%   {color: rgba(255, 0, 0, 1);}
    25%  {color: rgba(0, 0, 255, 1);}
    50%  {color: rgba(0, 128, 0, 1);}
    75% {color: rgba(71, 13, 233, 1);}
    100% {color: rgba(255, 0, 0, 1);}
  }

.main-container{
    width: 100%;
    min-height: 900px;
    display: flex;
    justify-content: center;
}
.main-container-inner{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-container{
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
}
.project-container-image{
    padding: 10px;
    width: 20%;
    max-height: 200px;
    display: flex;
    align-items: center;
}
.project-image{
    height: 100%;
    width: 100%;
    display: flex;
}
.project{
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-title{
    padding-top: 10px;
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
}
.project-title p{
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 1000;
    animation: b 10s infinite;
}
.project-description p{
    letter-spacing: 1px;
    font-size: 18px;
}
.project-description{
    display: flex;
    width: 100%;
    height: auto;
}
.project-links{
    width: 100%;
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.project-link{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-link:hover{
    background-color: #ddd;
}
.about-me{
    min-height: 400px;
    width: 100%;
    display: flex;
}
.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    width: 30%;
    height: 400px;
}
#me{
    width: 65%;
    height: auto;
}
.image-container img{
    transition: all 0.5s ease;
}
.image-container:hover #me{
    transform: scale(1.1);
}
.about-desc{
    width: 70%;
    background: #f5f4f4;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.about-title{
    display: flex;
    width: 75%;
    height: 50%;
    padding-left: 15%;
    justify-content: flex-start;
    align-items: center;
}
.about-title h2{
    font-size: 60px;
    font-weight: 1000;
    color: #434343;
}
.about-content{
    display: flex;
    width: 55%;
    height: 50%;
    padding-left: 15%;
    justify-content: flex-start;
    align-items: flex-start;
}
.about-content p{
    font-size: 25px;
    font-weight: 1000;
    color: #434343;
}
footer{
    min-height: 340px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
}
.footer-left{
    padding-top: 30px;
    color: #8e8e8e ;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer-right{
    padding-top: 30px;
    color: #8e8e8e ;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer-heading{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    width: 100%;
    height: 20%;
}
.footer-content{
    padding-top: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    width: 80%;
}
.email {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2px;
    width: 80%;
}
.email a{
    font-size: 20px;
    text-decoration: none;
    animation: b 10s infinite;
}
.network-links{
    margin-top: 40px;
    width: 70%;
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.network-link{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

}
.network-link svg path{
   fill: white;
   transition: all 0.5s;
}
.network-link:hover{
    background-color: #ddd;
}
.network-link:hover svg path{
    fill: black;
 }
@media screen and (max-width:900px) {
    .main-container-inner{
        width: 95%;
        
    }
    .project-image{
        height: 40%;
        width: 40%;
        display: flex;
    }

    .image-container{
        width: 100%;
    }
    #me{
        height: 80%;
        width: auto;
    }
    .about-desc{
        width: 100%;
        height: 400px;
    }
    .about-me{
        flex-direction: column;
    }
    .about-title{
        padding-top: 20px;
        height: 30%;
    }
    .about-title h2{
        font-size: 35px;
    }
    .about-content{
        width: 70%;
    }
    .about-content p{
        font-size: 20px;
    }
    footer{
        flex-direction: column;
    }
    .footer-left{
        margin-left: 14%;
        width: 80%;
    }
    .footer-right{
        margin-left: 14%;
        width: 80%;
    }
}

